

.page-preloader {
  animation: preloader-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.number-preloader {
  display: inline-block;
  animation: preloader-spin infinite 5s linear !important;
}
