#sHeader {
  background-color: #004E95;
  position: fixed;
  top: 0;
  z-index: 1000;

  .logo {
    height: 74px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.6);
    position: relative;

    &:not(.active):before {
      position: absolute;
      color: #FFF;
      top: 0px;
      left: 0px;
      padding: 8px;
      overflow: hidden;
      content: attr(data-alt);
      transition: all 250ms;
      opacity: 0;
      transform: scale(1.2);
    }

    &:hover:before {
      transform: scale(1);
      opacity: 1;
    }

    &.active {
      color: #FFF;

      &:before, &:after {
        position: absolute;
        padding: 8px;
        font-size: 15px;
        opacity: 1;
        top: 0;
      }

      &:before {
        content: '(';
        left: 0;
        transform: translateX(-8px);
      }

      &:after {
        content: ')';
        right: 0;
        transform: translateX(8px);
      }
    }
  }
  .nav-link:not(:last-child) {
    margin-right: 15px;
  }

  .logout-btn {
    cursor: pointer;
  }

  .navbar-collapse {
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;

    @media #{$lsmscreen} {
      .navbar-nav {
        align-items: flex-start;
      }

      &.show {
        padding-top: 20px;

        .nav-link {
          margin-left: 0;

          &.active {
            margin-left: 8px;
          }
        }
      }

      .nav-link {
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out;
        transition-delay: 180ms;
        margin-left: -300px;

        &:before, &:after {
          padding: 8px 0;
        }
      }

      .nav-link:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
